/* Write some CSS below */
h1{
color: #CE880D;
}
body{
color: rgb(30,30,30);
background-color: rgb(245,245,245);
font-family: 'Instrument Serif', serif;
}
a {
background-color: #E9967A;
text-decoration:none;
padding: 10px 16px;
}

	.banner {

		text-align: center;
		background-color: light brown;
		background-size: cover;
		padding : 100px 0;
		}
    .button {
        padding: 10px 15px;
        border-radius: 8px;
        }

    .card  {
    	border-radius: 6px;
    	box-shadow: 4px 4px 10px rgba (0,0,0,0.2);
    	padding: 16px;
         }



.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	}
